@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-image: url('/images/bg1.png');
  background-color: rgb(0, 11, 48);
  background-size: 90vh;
  background-position: center;
  background-attachment: fixed;
  transition: background 1.2s ease;
}

.glass-bubble {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 30%; 
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  backdrop-filter: blur(12px);
  border: 1.5px solid rgba(255, 255, 255, 0.35);
  margin: 40px auto;
  transform: translate(-50%, -50%);
  will-change: transform, width, height, border-radius, backdrop-filter;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, backdrop-filter 0.3s ease;
}

.hover-target {
  margin: 100px auto;
  padding: 30px 100px;
  width: fit-content;
  color: white;
  border-radius: 12px;
  backdrop-filter: blur(0px);
}

.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.text-section {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.75);
  padding: 20px;
  overflow-x: hidden;
}

.window{
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  outline: 1px dashed rgb(37, 37, 37);
  outline-offset: -4px;
  height: 30vh;
  position: relative;
}

.rel{
  position: relative;
}

.left-flower{
  position: absolute;
  width: 10vw;
  top: -35px;
  right: -55px;
}

.bottom-flower{
  width: 20vw;
  position: absolute;
  bottom: 0;
  right: 0;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 9999999;
  color: beige;
  padding: 50%;
}

#text1 {
  background-image: url('/images/cerebrail.png');
  background-size: 20vh auto;
  background-repeat: no-repeat;
  background-position: center 30vh;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  font-family: "League Script", cursive;
  font-size: 3em;
}
#text2 {
  background: rgb(44, 99, 65);
  font-style: normal;
  flex-direction: column;
  overflow-x: hidden;
}

.us-text {
  font-size: 2em;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  color: #000000;
}

.button-container {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  /* left: 50vw; */
  /* top: 70%; */
  /* transform: translate(-50%, -50%); */
  gap: 24px;
  /* transition:
    top 0.6s cubic-bezier(.88,.03,.45,.9),
    left 2s cubic-bezier(.88,.03,.45,.9),
    transform 1s cubic-bezier(.88,.03,.45,.9),
    width 1s cubic-bezier(.88,.03,.45,.9),
    opacity 0.4s; */
  margin: 50px;
  background: transparent;
  opacity: 0;
  pointer-events: none;
}

.button-container.visible {
  opacity: 1;
  pointer-events: auto;
}

button:not(.gallery-arrow) {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  width: 180px;
}

button:active:not(.gallery-arrow) {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}

.border-effect {
  box-sizing: border-box;
  border: 1000px solid #00305f;
  transition: border 0.7s cubic-bezier(.88,.03,.45,.9);
}


/* Business page */

.page-header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 24px;
  top: 0;
  left: 0;
  width: 100vw;
  transform: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 18px 0 7px 0;
  background: #001455;
  z-index: 999;
  border-bottom:solid 5px #3857bb;
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
