@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-image: url('/images/bg1.png');
  background-color: rgb(0, 11, 48);
  background-size: 90vh;
  background-position: center;
  background-attachment: fixed;
  transition: background 1.2s ease;
}

.glass-bubble {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 30%; 
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  backdrop-filter: blur(12px);
  border: 1.5px solid rgba(255, 255, 255, 0.35);
  margin: 40px auto;
  transform: translate(-50%, -50%);
  will-change: transform, width, height, border-radius, backdrop-filter;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, backdrop-filter 0.3s ease;
}

.hover-target {
  margin: 100px auto;
  padding: 30px 100px;
  width: fit-content;
  color: white;
  border-radius: 12px;
  backdrop-filter: blur(0px);
}

.scroll-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.text-section {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.75);
  padding: 20px;
  overflow-x: hidden;
}

.window{
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  outline: 1px dashed rgb(37, 37, 37);
  outline-offset: -4px;
  height: 30vh;
  position: relative;
}

.rel{
  position: relative;
}

.left-flower{
  position: absolute;
  width: 10vw;
  top: -35px;
  right: -55px;
}

.bottom-flower{
  width: 20vw;
  position: absolute;
  bottom: 0;
  right: 0;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 9999999;
  color: beige;
  padding: 50%;
}

#text1 {
  background-image: url('/images/cerebrail.png');
  background-size: 20vh auto;
  background-repeat: no-repeat;
  background-position: center 30vh;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  font-family: "League Script", cursive;
  font-size: 3em;
}
#text2 {
  background: rgb(44, 99, 65);
  font-style: normal;
  flex-direction: column;
  overflow-x: hidden;
}

.us-text {
  font-size: 2em;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  color: #000000;
}

.button-container {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  /* left: 50vw; */
  /* top: 70%; */
  /* transform: translate(-50%, -50%); */
  gap: 24px;
  /* transition:
    top 0.6s cubic-bezier(.88,.03,.45,.9),
    left 2s cubic-bezier(.88,.03,.45,.9),
    transform 1s cubic-bezier(.88,.03,.45,.9),
    width 1s cubic-bezier(.88,.03,.45,.9),
    opacity 0.4s; */
  margin: 50px;
  background: transparent;
  opacity: 0;
  pointer-events: none;
}

.button-container.visible {
  opacity: 1;
  pointer-events: auto;
}

button:not(.gallery-arrow) {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  width: 180px;
}

button:active:not(.gallery-arrow) {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}

.border-effect {
  box-sizing: border-box;
  border: 1000px solid #00305f;
  transition: border 0.7s cubic-bezier(.88,.03,.45,.9);
}


/* Business page */

.page-header {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  gap: 24px;
  top: 0;
  left: 0;
  width: 100vw;
  transform: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 18px 0 7px 0;
  background: #001455;
  z-index: 999;
  border-bottom:solid 5px #3857bb;
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.quflex{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  overflow-x: hidden;
}

.qheading{
  margin-top: 10%;
  font-family: "League Script", cursive;
  font-weight: 900;
  font-size: 15vh;
  color: rgb(0, 112, 112);
  --stroke: rgba(255, 228, 77, 0.075);
  --stroke_ac: rgba(255, 228, 77, 1);
  text-shadow:
    -100px -200px 0 var(--stroke),
    100px -50px 0 var(--stroke),
    500px 100px 0 var(--stroke),
    -600px 200px 0 var(--stroke);
  -webkit-text-stroke: 20px var(--stroke_ac);
  paint-order: stroke fill;
  rotate: -3deg;
}

.qheading::selection{
  background-color: #3d9eff;
  text-decoration: underline 2px black;
}

.qheading::-moz-selection {
  background-color: #3d9eff;
  text-decoration: underline 2px black;
}

.qsub{
  font-size: 2vh;
  margin-top: -2%;
  color: rgba(255, 228, 77, 1);
  font-family: "Petit Formal Script", cursive;
}

.qwindow{
  height: 70vh;
  width: 70vw;
  margin-top: 20vh;
  font-size: 8vh;
  margin-bottom: 5vh;
  border-radius: 20px;
  padding: 20px;
  border: 10px solid rgb(97, 97, 97);
  box-shadow: 
    rgba(187, 0, 0, 0.116) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-row: span 5 / span 5;  
}

.div2 {
  grid-column: span 3 / span 3;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
}

.div4 {
  grid-column: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 5;
}

.div5 {
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  grid-row-start: 1;
}

.bigwintxt{
  font-style: italic;
  font-size: 1.2em;
}

.centerd{
  align-self: center;
  text-align: center;
}

.vert{
  display: flex;
  flex-direction: column;
}

.upinp{
  background-color: rgba(32, 32, 32, 0.88);
  border-radius: 20px 20px 0px 0px;
  border: 5px solid rgba(187, 187, 187, 0.13);
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  width: 300px;
  align-self: center;
}

.downinp{
  background-color: rgba(32, 32, 32, 0.88);
  border-radius: 0px 0px 20px 20px;
  border: 5px solid rgba(187, 187, 187, 0.13);
  border-top: none;
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  width: 300px;
  align-self: center;
}


.custbtn{
  all: unset;
  background-color: rgba(67, 255, 123, 0.8);
  border-radius: 15px;
  border: 2px solid rgba(67, 255, 123, 1);
  padding: 15px;
  margin: 10px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  width: 280px;
  align-self: center;
}

.custbtn:hover{
  background-color: rgba(42, 212, 93, 0.8);
}

.foottxt{
  align-self: flex-end;
  font-size: 12px;
  text-align: center;
}

.arrowtxt{
  color: white;
  font-family: "Mansalva", sans-serif;
  font-size: 5vh;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10vh;
}

.arw{
  margin-left: 30vw;
}

.hiddenw{
  display: none;
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  background: #fff018;
  color: #003e70;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-family: "Mansalva", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.smol_q {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

.left_panel {
  width: 50px;
  height: auto;
  padding-top: 20px;
  font-size: 15px;
  font-style: normal;
}

.panel_btn {
  padding: 10px;
  font-weight: 100;
  color: #cccccc;
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
}

.panel_btn:hover {
  background-color: #313131;
}

.sel {
  background-color: #3d3d3d;
}

.cust_deet {
  background-color: rgba(203, 255, 59, 0.86);
  border-radius: 15px;
  padding: 20px;
  border: 5px solid rgba(148, 202, 0, 1);
  color: black;
  transform: scale(1.0);
  transition: transform 0.2s ease;
  font-size: 15px;
}

#name {
  font-weight: 100;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10vw;
  text-align: center;
}

.card {
  width: 190px;
  height: 254px;
  background: rgb(133, 133, 133);
  box-shadow: 
    rgba(63, 63, 63, 0.74) 0px 2px 4px, 
    rgba(70, 70, 70, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: solid 2px black;
}

.qu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sel_q {
  border: 5px solid white;
}

.whysection {
  background-color: rgb(250, 255, 180);
  padding: 10px;
  width: 90vw;
  text-align: center;
  box-shadow:
  rgb(255, 136, 0) 5px 5px, 
  rgba(255, 102, 0, 0.767) 10px 10px, 
  rgba(255, 0, 0, 0.05) 15px 15px;
  margin-bottom: 50px;
  --color: #ffae004d;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.whytxt {
  font-size: 4em;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  font-weight: bold;
  color: #ff5100;
  rotate: -6deg;
}

.whytxt sup {
  font-size: 0.3em;
}

.whycardicon {
  font-size: 0.5em;
  color: #003e70;
  margin-bottom: 10px;
}

.whycard {
  text-align: start;
  margin-left: 5em;
  padding: 20px;
  font-family: "Mansalva", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.whycard2{
  text-align: start;
  margin-right: 5em;
  padding: 20px;
  font-family: "Mansalva", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: end;
}

.whycardtitle{
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
}

.whycarddesc{
  margin-top: 10px;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 50px;
  font-family: "Mansalva", sans-serif;
  font-size: 3em;
  color: #f5deb3;
}

.cont .heref {
  color: #ffdd57;
  text-decoration: underline;
}

.heref:hover {
  font-style: italic;
}

.foot {
  width: 100vw;
  height: 30vh;
  background-color: #001455;
  padding: 50px;
  padding-left: 10vw;
  color: #cccccc;
}