@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

/* Global */
html, body {
  height: auto;
  overflow-x: hidden;
  background-size: cover;
  background-position: top center;
}

.page-header {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  gap: 2px;
  top: 0;
  left: 0;
  width: 100vw;
  transform: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #001455;
  z-index: 999;
  border-bottom:solid 5px #3857bb;
  box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:not(.gallery-arrow) {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  cursor: pointer;
  background: hsl(0deg 0% 75%);
  box-shadow:
    inset -1px -1px #292929,
    inset 1px 1px #fff,
    inset -2px -2px rgb(158, 158, 158),
    inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  width: 80px;
  height: 50px;
}

button:active:not(.gallery-arrow) {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #292929,
    inset -2px -2px #ffffff,
    inset 2px 2px rgb(158, 158, 158);
}

.page-header button {
  font-size: 10px;
  padding: 6px 10px;
  width: auto;
}

.quflex {
  margin-top: 30vh;      
  padding: 0 10px;
}

.qheading{
  margin-top: 10%;
  font-family: "League Script", cursive;
  font-weight: 900;
  font-size: 30vw;
  color: rgb(0, 112, 112);
  --stroke: rgba(255, 228, 77, 0.075);
  --stroke_ac: rgba(255, 228, 77, 1);
  text-shadow:
    -100px -200px 0 var(--stroke),
    100px -50px 0 var(--stroke),
    500px 100px 0 var(--stroke),
    -600px 200px 0 var(--stroke);
  -webkit-text-stroke: 20px var(--stroke_ac);
  paint-order: stroke fill;
  rotate: -3deg;
  text-align: center;
}

.qsub{
  font-size: 2vh;
  margin-top: -2%;
  color: rgba(255, 228, 77, 1);
  font-family: "Petit Formal Script", cursive;
  text-align: center;
}

.qwindow {
  width: auto;
  height: 60vh;
  margin-top: 30vh;
  margin-bottom: 30px;
  padding: 14px;
  border-width: 6px;
  border-radius: 16px;
  box-sizing: border-box;
  font-size: 3vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  border: 10px solid rgb(97, 97, 97);
  gap: 6px;
  box-shadow: 
    rgba(187, 0, 0, 0.116) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 99;
}

/* Grid areas re-flowed for 2 columns */
.div1,
.div2,
.div3,
.div4,
.div5 {
  grid-column: span 2;
  grid-row: auto;
}

.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerd{
  align-self: center;
  text-align: center;
}

.bigwintxt {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.upinp{
  background-color: rgba(32, 32, 32, 0.88);
  border-radius: 20px 20px 0px 0px;
  border: 5px solid rgba(187, 187, 187, 0.13);
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  width: 50vw;
  align-self: center;
  margin-top: 10px;
}

.downinp{
  background-color: rgba(32, 32, 32, 0.88);
  border-radius: 0px 0px 20px 20px;
  border: 5px solid rgba(187, 187, 187, 0.13);
  border-top: none;
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  width: 50vw;
  align-self: center;
  margin-bottom: 30px;
}

.hiddenw {
  display: none;
}

.custbtn{
  all: unset;
  background-color: rgba(67, 255, 123, 0.8);
  border-radius: 15px;
  border: 2px solid rgba(67, 255, 123, 1);
  padding: 10px;
  margin: 10px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  width: 30vw;
}

/* Footer text in window */
.foottxt{
  align-self: flex-end;
  font-size: 12px;
  text-align: center;
}

/* Toasts */
.toast {
  font-size: 18px;
  display: none;
}

/* Arrow text and SVG */
.arrowtxt {
  font-size: 3vh;
  margin-bottom: 6vh;
  text-align: center;
  display: none;
}

.arw {
  margin-left: 0;
  width: 70vw;
}

/* Why section */
.whysection {
  padding: 10px;
  width: auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20vh;
}

.whytxt {
  font-size: 2.5em;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  font-weight: bold;
  color: #ff5100;
  rotate: -6deg;
  width: auto;
}

.whytxt sup {
  font-size: 0.3em;
}

/* Why cards stack vertically */
.whycards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.whycard {
  background-color: rgb(250, 255, 180);
  text-align: start;
  margin-left: 1em;
  padding: 20px;
  font-family: "Mansalva", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  --color: #ffae004d;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  rotate: -5deg;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.whycard2{
  background-color: rgb(250, 255, 180);
  text-align: start;
  margin-right: 1em;
  padding: 20px;
  font-family: "Mansalva", sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: end;
  --color: #ffae004d;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  rotate: 5deg;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

svg {
  width: 90px;
  height: auto;
}

.whycardicon {
  font-size: 0.6em;
}

/* Pricing section */
.pricing {
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 10px 40px 10px;
  font-size: 2em;
  background-color: rgb(33, 0, 110);
  font-family: "Mansalva", sans-serif;
  width: 100vw;
  color: #ffffff;
  margin-left: -10px;
  padding: 10px;
  font-size: 20px;
}

/* Contact link in pricing */
.cont {
  margin-top: 10px;
}

.cont .heref {
  color: #ffdd57;
  text-decoration: underline;
}

/* Footer */
.foot {
  height: 30vh;
  background-color: #001455;
  padding: 50px;
  padding-left: 10vw;
  color: #cccccc;
}

/* General utility tweaks */
.qu {
  flex-wrap: wrap;
}

.qu > * {
  flex: 1 1 45%;
  min-width: 140px;
}

/* Ensure windows not off-screen on small devices */
.qwindow,
#window1,
#window2,
#window3 {
  max-height: none;
  overflow-y: visible;
}
