.html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 83, 45);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 9999999;
  color: beige;
  padding: 50%;
}

.land{
    width: 20vw;
    height: 10vh;
}

.hero{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000000;
}