.html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 83, 45);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 9999999;
  color: beige;
  padding: 50%;
}

.land{
    width: 80vw;
    height: 80vh;
}

.hero{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.right{
    position: absolute;
    top: 30%;
    right: 5%;
    width: 40%;
    color: beige;
    font-family: monospace;
    font-size: 2em;
    text-align: left;
}

.lil-right{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40%;
    color: beige;
    font-family: monospace;
    font-size: 1.2em;
    text-align: right;
}